---
import AboutMe from "../../components/AboutMe.astro";
import Certifications from "../../components/Certifications.astro";
import Experience from "../../components/Experience.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Projects from "../../components/Projects.astro";
import Studies from "../../components/Studies.astro";
import Layout from "../../layouts/Layout.astro";
import { myInformation } from "../../locales/en/about-me";
import { certificationsEN } from "../../locales/en/certifications";
import { experienceDataEN } from "../../locales/en/experience-information";
import { linksEN } from "../../locales/en/header-links";
import { projectsEN } from "../../locales/en/projects-information";
import { studiesEN } from "../../locales/en/studies";

const description =
  "Full Stack Web Developer. I build efficient and scalable applications with modern technologies, get to know my work!";

const itemExperienceInformation = {
  labelCompanyName: "Company",
  labelTypeJob: "Type job",
  labelDurationJob: "Duration",
  labelDescriptionJob: "Description",
  labelFunctionsJob: "Functions",
  labelAchievementsJob: "Achievements",
};

const itemProjectInformation = {
  labelImages: "Example Images",
  labelVideoDemoURL: "Demo Video",
  labelStackTechnologies: "Technologies Used",
  labelDescriptionProject: "Description",
  labelFeaturesProject: "Features",
};

const itemStudyInformation = {
  labelRol: "Degree Awarded",
  labelInstitution: "Institution",
  labelGradeDate: "Graduation Date",
  labelAchievements: "Achievements",
};

const itemCertificateInformation = {
  labelInstitution: "Institution",
  labelGradeDate: "Degree Awarded",
};
---

<Layout
  language="en"
  descriptionPage={description}
  titlePage="Portfolio | Yinner Chilito"
>
  <Header links={linksEN} />
  <main class="flex flex-col gap-10 px-5 justify-center">
    <AboutMe {...myInformation} />
    <Experience
      title="Work experience"
      items={experienceDataEN}
      itemInformation={itemExperienceInformation}
    />
    <Projects
      title="Projects"
      projects={projectsEN}
      itemInformation={itemProjectInformation}
    />
    <Studies
      title="Formal education"
      studies={studiesEN}
      itemInformation={itemStudyInformation}
    />
    <Certifications
      title="Certifications and courses"
      certifications={certificationsEN}
      itemInformation={itemCertificateInformation}
    />
  </main>
  <Footer />
</Layout>
