---
import Certifications from "../components/Certifications.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Studies from "../components/Studies.astro";
import Layout from "../layouts/Layout.astro";
import { linksES } from "../locales/es/header-links";
import { myInformation } from "../locales/es/about-me";
import { experienceDataES } from "../locales/es/experience-information";
import { projectsES } from "../locales/es/projects-information";
import { studiesES } from "../locales/es/studies";
import { certificationsES } from "../locales/es/certifications";

const description =
  "Desarrollador Web Full Stack. Construyo aplicaciones eficientes y escalables con tecnologías modernas. ¡Conoce mi trabajo!";

const itemExperienceInformation = {
  labelCompanyName: "Empresa",
  labelTypeJob: "Tipo de trabajo",
  labelDurationJob: "Duración",
  labelDescriptionJob: "Descripción",
  labelFunctionsJob: "Funciones",
  labelAchievementsJob: "Logros",
};

const itemProjectInformation = {
  labelImages: "Imágenes de ejemplo",
  labelVideoDemoURL: "Video demo",
  labelStackTechnologies: "Tecnologías utilizadas",
  labelDescriptionProject: "Descripción",
  labelFeaturesProject: "Funcionalidades",
};
const itemStudyInformation = {
  labelRol: "Titulo otorgado",
  labelInstitution: "Institución",
  labelGradeDate: "Fecha de graduación",
  labelAchievements: "Logros",
};
const itemCertificateInformation = {
  labelInstitution: "Institución",
  labelGradeDate: "Fecha de graduación",
};
---

<Layout
  language="es"
  descriptionPage={description}
  titlePage="Portafolio | Yinner Chilito"
>
  <Header links={linksES} />
  <main class="flex flex-col gap-10 px-5 justify-center">
    <AboutMe {...myInformation} />
    <Experience
      title="Experiencia laboral"
      items={experienceDataES}
      itemInformation={itemExperienceInformation}
    />
    <Projects
      title="Proyectos"
      projects={projectsES}
      itemInformation={itemProjectInformation}
    />
    <Studies
      title="Educación formal"
      studies={studiesES}
      itemInformation={itemStudyInformation}
    />
    <Certifications
      title="Certificaciones y cursos"
      certifications={certificationsES}
      itemInformation={itemCertificateInformation}
    />
  </main>
  <Footer />
</Layout>
