---
import Accordion from "./Accordion";

export interface ItemStudyProps {
  title: string;
  labelRol: string;
  rol: string;
  labelInstitution: string;
  institution: string;
  labelGradeDate: string;
  gradeDate: string;
  labelAchievements: string;
  achievements: string[];
}
const {
  title,
  institution,
  rol,
  gradeDate,
  achievements,
  labelRol,
  labelInstitution,
  labelGradeDate,
  labelAchievements,
} = Astro.props as ItemStudyProps;
---

<li class="list-disc">
  <h3 class="font-bold text-xl text-yellow-500">
    {title}
  </h3>
  <p class="">
    <span class="font-bold">{labelRol}: </span>
    <span> {rol}</span>
  </p>

  <p class="">
    <span class="font-bold">{labelGradeDate}: </span>
    <span class="">{gradeDate}</span>
  </p>
  <p class="">
    <span class="font-bold">{labelInstitution}: </span>
    <span class="">{institution}</span>
  </p>

  <Accordion
    client:load
    lists={[{ label: labelAchievements, items: achievements! }]}
  />
</li>
