---
import Accordion from "./Accordion";
import ButtonLink from "./ButtonLink.astro";

export interface ItemCertificationProps {
  title: string;
  institution: string;
  expeditionDate: string;
  url: string;
  labelInstitution: string;
  labelGradeDate: string;
}
const { title, institution, expeditionDate, url, labelGradeDate, labelInstitution } =
  Astro.props as ItemCertificationProps;
---

<li class="list-disc w-[350px]">
  <h3 class="font-bold text-xl text-yellow-500">
    {title}
  </h3>

  <p class="">
    <span class="font-bold">{labelGradeDate}: </span>
    <span class="">{expeditionDate}</span>
  </p>
  <p class="">
    <span class="font-bold">{labelInstitution}: </span>
    <span class="">{institution}</span>
  </p>

  <ButtonLink
    name="Link"
    hrefLink={url}
    className="w-44 mt-4"
    disabled={url.length === 0}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-link"
      ><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
      ></path><path
        d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
      ></path></svg
    >
  </ButtonLink>
</li>
