---
import Accordion from './Accordion';
import { AccordionList } from './AccordionList';

const {
  rolName = '',
  companyName = '',
  typeJob = '',
  dateStarted = '',
  dateFinished = '',
  descriptionJob = '',
  functionsJob = [],
  achievementsJob = [],
} = Astro.props;
---

<li class="list-disc">
  <h3 class="font-bold text-xl text-yellow-500">
    {rolName}
  </h3>
  <!-- <p>
    Empresa: <span class="font-bold block">{companyName}</span>
  </p> -->
  <p class="">
    <span class="font-bold">Empresa: </span>
    {companyName}
  </p>
  <p class="">
    <span class="font-bold">Duración: </span>
    <span class="">{dateStarted} - {dateFinished}</span>
  </p>

  <p class="my-4">
    <span class="font-bold">Tipo de trabajo: </span>
    {typeJob}
  </p>
  <p class="my-4">
    <span class="font-bold">Descripción: </span>
    {descriptionJob}
  </p>

  <Accordion client:load title="Mostrar más">
    <h4 class="my-4 font-bold">Funciones:</h4>
    <AccordionList client:load list={functionsJob} />

    <h4 class="my-4 font-bold">Logros:</h4>
    <AccordionList client:load list={achievementsJob} />
  </Accordion>
</li>
