---
import Accordion from "./Accordion";

interface ItemExperienceProps {
  rolName: string;
  labelCompanyName: string;
  companyName: string;
  labelTypeJob: string;
  typeJob: string;
  labelDurationJob: string;
  dateStarted: string;
  dateFinished: string;
  labelDescriptionJob: string;
  descriptionJob: string;
  labelFunctionsJob: string;
  functionsJob: [];
  labelAchievementsJob: string;
  achievementsJob: [];
}

const {
  rolName = "",
  companyName = "",
  typeJob = "",
  dateStarted = "",
  dateFinished = "",
  descriptionJob = "",
  functionsJob = [],
  achievementsJob = [],
  labelCompanyName = "",
  labelTypeJob = "",
  labelDurationJob = "",
  labelDescriptionJob = "",
  labelFunctionsJob = "",
  labelAchievementsJob = "",
} = Astro.props as ItemExperienceProps;
---

<li class="list-disc">
  <h3 class="font-bold text-xl text-yellow-500">
    {rolName}
  </h3>
  <p class="">
    <span class="font-bold">{labelCompanyName}: </span>
    {companyName}
  </p>
  <p class="">
    <span class="font-bold">{labelDurationJob}: </span>
    <span class="">{dateStarted} - {dateFinished}</span>
  </p>

  <p class="my-4">
    <span class="font-bold">{labelTypeJob}: </span>
    {typeJob}
  </p>
  <p class="my-4">
    <span class="font-bold">{labelDescriptionJob}: </span>
    {descriptionJob}
  </p>

  <Accordion
    client:load
    
    
    lists={[
      { label: labelFunctionsJob, items: functionsJob },
      { label: labelAchievementsJob, items: achievementsJob },
    ]}
  />
</li>
