---
import Accordion from "./Accordion";

const {
  rolName = "",
  companyName = "",
  typeJob = "",
  dateStarted = "",
  dateFinished = "",
  descriptionJob = "",
  functionsJob = [],
  achievementsJob = [],
} = Astro.props;
---

<li class="list-disc">
  <h3 class="font-bold text-xl text-yellow-500">
    {rolName}
  </h3>
  <p class="">
    <span class="font-bold">Empresa: </span>
    {companyName}
  </p>
  <p class="">
    <span class="font-bold">Duración: </span>
    <span class="">{dateStarted} - {dateFinished}</span>
  </p>

  <p class="my-4">
    <span class="font-bold">Tipo de trabajo: </span>
    {typeJob}
  </p>
  <p class="my-4">
    <span class="font-bold">Descripción: </span>
    {descriptionJob}
  </p>

  <Accordion
    client:load
    titleOnShow="Mostrar más"
    titleOnHidden="Ocultar"
    lists={[
      { label: "Funciones", items: functionsJob },
      { label: "Logros", items: achievementsJob },
    ]}
  />
</li>
